### Question 0

*  Draw a concepts diagram that uses all the following Github terminology 
   * Include any missing keywords that will simplify the concepts diagrams 


`Push`, `Repository`, `Clone`, `Pull`, `Pull Request`, `Branch`, `Merging`, `Github Client`, `README file`, `Private or Public`

 ![](https://lh3.googleusercontent.com/EQmQ1CFdYVcAwpgsOwddrPEP-aedLuzQ4dtpKFHIzQKta0iI_SvgAvmp9-5Hc-Hxy5R0uSP-y1dBdw7HlnX2Rp3SSwxesSbCAjyYFVF-UEQR0uvtnbm64iYqRKK30Z8er1slcdKymlVdPDrniJUHM40VOZITeCr-qrhIRfnQufiXaY6tU9ZadOoN2uwVeR2Lp1MedvShReX_nVP9NCW2o1uQPF7soSmXt5XXMP4IORtFq6OQmr9_nhxos2O8c5s2p8gc0ooZlUqnZfI_NmiizedvnRyU29_EBBxBZZ4RiQZM12UkFQH3sAgIrkclowlaYVUDVDGevDm4eWZmWeRQUJBzOmiqjtLuxKBZ1_P0D5wMlKI7saKtzJE8r_xitHycYCnyxMnzYsRmn9qP7YqmINL10yiyHeJgE2g_ok3oC4Cui1CwVMBhhkmayDe6hl34TvrZnPcvoDmiRdOKT3ZIKIcLyaPg710xol3sm14B4YKK4wGH6MWwa6alvzNH3XtGN-6s55SIFELuq5Za8r0fbICkX62rBxIuPTL6GB9ggF2325vNSxIpCPR6X_icZAJMI2GYqkCmc9KAFwEBmZMujQsYyEHAILZqaXSnhUaEk7iNp5xzGM6G9eDk-n7wA6qEW_yMBC4b6xC9JP7eYCAyb9TaRp-1IeCGW8VRMlIkNPDZfSbcybRgTjNuoX0Zzn187HVhAxRami1JAHuRTHeuCyfxYn_Rk8YPKVIZF_rGSb9akQqr4G0yJPipDjjXK0ps80NHLT2FJKaEPgK9cbHF5pA9RIvfyZppVYie=s639-no?authuser=1)

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [2]:
# Add your photo here

#### Question 1

`matrix(c(1,2,3,4,5,6) , nrow = 3)`

* Running the expression produces the following matrix

|  |  |
|---|---|
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |

* How can you modify the call to `matrix()` to produce the following matrix instead?

|   | col_1 |  col_2 |
| --- |---|---|
| row_1 | 1 | 2 |
| row_2 | 3 | 4 |
| row_3 | 5 | 6 |

* Note that you need to name the columns (col_1 and col_2) and name the rows (row_1, row_2, row_3)

Hint: Use the `?` symbol to invoke the matrix documentation

In [ ]:

my_matrix <- matrix(c(1,2,3,4,5,6) , nrow = 3, ncol = 2, byrow = TRUE)

rownames(my_matrix) <- c("row_1","row_2","row_3")
colnames(my_matrix) <- c("col_1", "col_2")

my_matrix

#### Question 2

* Load then sort the airquality data frame on its `Temp` and `Solar.R` columns in reverse order (largest to smallest values)
  * The function to sort a data frame is called order
* Display only the first 15 lines of your table

In [62]:
# Write your answer here
data("airquality")

sort1 <- airquality[order(-airquality$Temp),]
sort2 <- airquality[order(-airquality$Solar.R),]

head(sort2, n=15)

   Ozone Solar.R Wind Temp Month Day
16 14    334     11.5 64   5     16
45 NA    332     13.8 80   6     14
41 39    323     11.5 87   6     10
19 30    322     11.5 68   5     19
46 NA    322     11.5 79   6     15
22 11    320     16.6 73   5     22
67 40    314     10.9 83   7      6
4  18    313     11.5 62   5      4
17 34    307     12.0 66   5     17
7  23    299      8.6 65   5      7
84 NA    295     11.5 82   7     23
85 80    294      8.6 86   7     24
40 71    291     13.8 90   6      9
75 NA    291     14.9 91   7     14
13 11    290      9.2 66   5     13

#### Question 3

* Sort the airquality data frame on its `Temp` in decreasing order and `Solar.R` in increasing order
* Display only the first 15 lines of your table

In [63]:
# Write your answer here
data("airquality")

sort1 <- airquality[order(-airquality$Temp),]
sort2 <- airquality[order(airquality$Solar.R),]

head(sort2, n=15)

    Ozone Solar.R Wind Temp Month Day
82  16     7       6.9 74   7     21
21   1     8       9.7 59   5     21
28  23    13      12.0 67   5     28
145 23    14       9.2 71   9     22
9    8    19      20.1 61   5      9
148 14    20      16.6 63   9     25
94   9    24      13.8 81   8      2
137  9    24      10.9 71   9     14
23   4    25       9.7 61   5     23
141 13    27      10.3 76   9     18
60  NA    31      14.9 77   6     29
114  9    36      14.3 72   8     22
49  20    37       9.2 65   6     18
20  11    44       9.7 62   5     20
58  NA    47      10.3 73   6     27

#### Question 4

* There are various ways to select a subset of observations from a data frame.

* Consult your [R Reference Card](https://cran.r-project.org/doc/contrib/Baggott-refcard-v2.pdf), see `Data Selection and Manipulation` section.
  * What operations can you use to select all observations where the temperature is 72. Give at least two different answers to this question

In [64]:
# Write your answer here
data("airquality")
#You an use the which operator to see the index of the values that are equal to 72:
which(airquality$Temp == 72)

#And the subset operator to take a slice out of the dataframe where the temp values is equal to 72:
subset(airquality, Temp == 72)

[1]   2  48 114

    Ozone Solar.R Wind Temp Month Day
2   36    118      8.0 72   5      2
48  37    284     20.7 72   6     17
114  9     36     14.3 72   8     22

#### Question 6

* You may have noticed when working with the `airqulity` data that some values show as `NA`
 * `NA` stands for not available, or missing values.
* A major part of data wrangling consists of cleaning missing values by either:
  * Dropping the lines that have missing values
   * Sometimes we can drop the column with missing values if the column is made of predominantly missing values
  * Imputing the missing values, which uses educated guesses (or more complex algorithms) to fill the missing values
  
* Find and remove all rows that are missing values for the `Solar.R` or `Ozone` variables
* Save the cleaned data to a new data frame called airquality_no_na
  * How many lines have been removed?

In [92]:
# Write your answer here
data("airquality")
w_na <- nrow(airquality)

airquality_no_na <- na.omit(airquality)
head(airquality_no_na)  
wo_na <- nrow(airquality_no_na)


difference <- w_na - wo_na
difference
#42 lines have been removed

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

[1] 42

#### Question 7
* Let's use a different strategy and impute the missing value.
  * replace the missing values for Solar.R using that month's average.
  * Example:
    * The missing value for line 6 should be replaced with the average for month 5.
    * The missing value for line 97 should be replaced with the average for month 8.

In [149]:
# Write your answer here

may_na <- subset(airquality_no_na, Month == 5)
may_mean <- mean(airquality_no_na$Solar.R)
may <- subset(airquality, Month == 5)
may$Solar.R[is.na(may$Solar.R)] <- may_mean


june_na <- subset(airquality_no_na, Month == 6)
june_mean <- mean(airquality_no_na$Solar.R)
june <- subset(airquality, Month == 6)
june$Solar.R[is.na(june$Solar.R)] <- june_mean


july_na <- subset(airquality_no_na, Month == 7)
july_mean <- mean(airquality_no_na$Solar.R)
july <- subset(airquality, Month == 7)
july$Solar.R[is.na(july$Solar.R)] <- july_mean


august_na <- subset(airquality_no_na, Month == 8)
august_mean <- mean(airquality_no_na$Solar.R)
august <- subset(airquality, Month == 8)
august$Solar.R[is.na(august$Solar.R)] <- august_mean


september_na <- subset(airquality_no_na, Month == 9)
september_mean <- mean(airquality_no_na$Solar.R)
september <- subset(airquality, Month == 9)
september$Solar.R[is.na(september$Solar.R)] <- september_mean

airquality_mean <- rbind(may, june, july, august, september)

head(airquality_mean, n=20)

   Ozone Solar.R  Wind Temp Month Day
1  41    190.0000  7.4 67   5      1
2  36    118.0000  8.0 72   5      2
3  12    149.0000 12.6 74   5      3
4  18    313.0000 11.5 62   5      4
5  NA    184.8018 14.3 56   5      5
6  28    184.8018 14.9 66   5      6
7  23    299.0000  8.6 65   5      7
8  19     99.0000 13.8 59   5      8
9   8     19.0000 20.1 61   5      9
10 NA    194.0000  8.6 69   5     10
11  7    184.8018  6.9 74   5     11
12 16    256.0000  9.7 69   5     12
13 11    290.0000  9.2 66   5     13
14 14    274.0000 10.9 68   5     14
15 18     65.0000 13.2 58   5     15
16 14    334.0000 11.5 64   5     16
17 34    307.0000 12.0 66   5     17
18  6     78.0000 18.4 57   5     18
19 30    322.0000 11.5 68   5     19
20 11     44.0000  9.7 62   5     20